snippet react_component "class App extends React.Component"
class App extends React.Component {
  componentWillMount() {}
  componentDidMount() {}
  render() {
    return (<div></div>)
  }
}
endsnippet
