snippet Bluebird.coroutine "Bluebird.coroutine(function * () {})()"
Bluebird.coroutine(function * () {
  ${1:}
});
endsnippet

snippet it() "it('test', Bluebird.coroutine)"
it('${1:}', Bluebird.coroutine(function * () {
  ${2:}
}));
endsnippet

