snippet coroutine "coroutine(function * () {})()"
coroutine(function * () {
  ${1:}
});
endsnippet

snippet it() "it('test', coroutine)"
it('${1:}', coroutine(function * () {
  ${2:}
}));
endsnippet

