snippet lifecycle "lifecycle {}"
lifecycle = {
  create_before_destroy = true
  prevent_destroy = true
  ignore_changes = ["ami", "private_ip", "root_block_device", "ebs_block_device"]
}
endsnippet

snippet output "output {}"
output "name_servers" {
  value = "${aws_route53_zone.main.name_servers}"
}
endsnippet

snippet eof "<<EOF"
myvar = <<EOF

EOF
endsnippet
