snippet link "[link](https://danihodovic.com)"
[${1:text}](${2:address})
endsnippet

snippet image "![alt text](http://url/to/img.png)"
![](${1:url})
endsnippet

snippet travis_badge "Travis CI badget
[![Build Status](https://travis-ci.org/${1:[org]}/${2:[repo]}.svg?branch=master)](https://travis-ci.org/$1/$2)
endsnippet
