# -----------------------------------------------------
# Class creation
# -----------------------------------------------------

snippet class "class"
class ${1:name}

	${2}
endsnippet

snippet classconstr "class with constructor"
class ${1:name}

  constructor: (${2:args}) ->
    ${3}
endsnippet

snippet constr "constructor"
constructor: (${1}: args) ->
  ${2:# body...}
endsnippet


# -----------------------------------------------------
# Collections
# -----------------------------------------------------
snippet slice "slice()" w
slice()
endsnippet

snippet map "map(action)" w
map((${1:arg}) -> ${2:action})
endsnippet

snippet filter "filter(predicate)" w
filter((${1:arg}) -> ${2:predicate})
endsnippet

snippet reduce "reduce(calc)" w
reduce((${1:arg1}, ${2:arg2}) -> ${3:body})
endsnippet

# -----------------------------------------------------
# Control flow
# -----------------------------------------------------

snippet switch "switch"
switch ${1:object}
  when ${2:value}
  	${0:# body...}
  when ${3:value}
    ${0:# body...}
  when ${4:value}
    ${0:# body...}
endsnippet

# -----------------------------------------------------
# Other
# -----------------------------------------------------
snippet log "console.log('arg', arg)"
console.log("${1}", $1)
endsnippet

snippet logmsg "console.log(arg)"
console.log("${1}")
endsnippet
