snippet class "class"
class ${1:name}

	${2}
endsnippet

snippet classconstr "class with constructor"
class ${1:name}

  constructor: (${2:args}) ->
    ${3}
endsnippet

snippet constr "constructor"
constructor: (${1}: args) ->
  ${2:# body...}
endsnippet

snippet switch "switch"
switch ${1:object}
  when ${2:value}
  	${0:# body...}
  when ${3:value}
    ${0:# body...}
  when ${4:value}
    ${0:# body...}
endsnippet

snippet log "console.log"
console.log("${1}", ${1})
endsnippet
