snippet attr "attr" w
attr("${1}", "${2}")
endsnippet

snippet style "style" w
style("${1}", "${2}")
endsnippet

snippet selectAll() "selectAll()" w
selectAll("${1:class}")
endsnippet

snippet select() "select()" w
select("${1:class}")
endsnippet

snippet enter "enter.append('elem')" w
enter().append(${1:elem})
endsnippet

snippet append "('elem')" w
append(${1:elem})
endsnippet
