snippet tsconfig "Typescript base config"
{
  "compilerOptions": {
    "target": "es2017",
    "module": "commonjs",
    "noEmit": true,
    "alwaysStrict": true,
    "noFallthroughCasesInSwitch": true,
    "forceConsistentCasingInFileNames": true
  }
}
endsnippet

