snippet tsconfig "Typescript base config"
{
  "compilerOptions": {
    "target": "es2015",
    "module": "commonjs",
    "moduleResolution": "node",
    "noEmit": true,
    "alwaysStrict": true,
    "noFallthroughCasesInSwitch": true,
    "forceConsistentCasingInFileNames": true
  },
  "exclude": [
    "node_modules/**/*"
  ]
}
endsnippet

