snippet if-err!=nil "if err != nil {}"
if err != nil {
    ${1:}
}
endsnippet

snippet println "log.Println()"
log.Println("${1:}", $1)
endsnippet

snippet panic "if err != nil { panic }"
if err != nil {
    panic(err)
}

endsnippet

snippet funcCheckErr "func checkErr(err) {}"
func checkErr(err error) {
    if err != nil {
        panic(err)
    }
}

endsnippet

snippet checkErr "checkErr(err)"
checkErr(err)

endsnippet
