snippet multithreading_process_pool ""
import concurrent.futures
from tqdm import tqdm

with concurrent.futures.ThreadPoolExecutor(max_workers=threads) as executor:
    with tqdm(total=len(data)) as pbar:
        for instance_json in data:
            fut = executor.submit(time_consuming_task)
            fut.add_done_callback(lambda _: pbar.update())
endsnippet
